
 * {
    box-sizing: border-box;
    text-align: center;
    background-color: #777777;
  }
  
  body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
  }

  header, nav, section, aside, footer {
      background: #ebebeb;
      width: 495px;
  }
  
  article {
      color: #ebebeb;
      background: #777;
  }

  header {
    padding: 30px;
    margin-left: 155px;
    text-align: center;
    margin-bottom: 11px;
    width: 941px;
    height: 95px;
    color: #8f8f8f;
  }
  
  nav {
    padding: 30px;
    margin-left: 155px;
    text-align: center;
    margin-bottom: 20px;
    width: 941px;
    color: #8f8f8f;
    background: #ebebeb;
    
  }

  section{
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
    padding-left: 11px;
    width: 545px;
    height: 286px;
    margin-left: 155px;
  }

    #left {
        float: left;
    }

    #right
    {
      float: right;
      width: 30px;
      padding: 20px;
      margin-left: 30px;
  }
  

  article {
    background:#777;
    color: #ebebeb;
    float: left;
    height: 200px;
    padding: 20px;
    width: 495px;
  }


  h1, p {
      line-height: 53px;
      color: #777;
      background: #ebebeb;
      width: 450px;
      height: 53px;
      float: center;
      margin-bottom: 10px;
  }

    
  #full {
    width: 100%;
    overflow:auto;
    clear:left;
    background: #eee;
  }
  
  #division {
    padding: 20px;
    margin-top: 20px;
    background: #6ea3da;
  }
  
  aside {
      float: right;
      width: 403px;
  }

  footer {
      float: bottom;
      line-height: 47px;
      margin-left: 155px;
      height: 94px;
      padding: 20px;
      width: 940px;
  }
  